/* Gruvbox Dark */
window#osd {
  background: #282828;
  border: 2px solid #ebdbb2;
}

progressbar trough {
    background: #665c54;
    border-radius: 25px;
    min-height: 8px;
}

progressbar progress {
    background: #fb4934;
    border-radius: 25px;
    min-height: 8px;
}

image {
    color: #fabd2f;
}